# Gradle Files
build/*
.gradle/*
gradle/*
gradlew
gradlew.bat


# Emacs
.meghanada
.#*

# jmh
*.log

*.class
jvm/target/*
jvm/project/target/*

!jvm/project/plugins.sbt
!jvm/project/build.properties

# Idea 
.idea
*.iml
