# Gradle Files
build/*
.gradle/*
gradle/*
gradlew
gradlew.bat


# Emacs
.meghanada
.#*

# jmh
*.log

*.class
jvm/target/*
jvm/project/*

!/project/plugins.sbt
!/project/build.properties

# Idea 
.idea
*.iml
